.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .dashboard div {
    margin-bottom: 10px;
  }
  
  .dashboard a {
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .dashboard a:hover {
    background-color: #ddd;
  }
  
  .dashboard .admin-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dashboard .seller-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dashboard .buyer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }