body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  background-color: black;
  padding: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}